<table class="table" style="width:100%">
  <% @article.each do |article|%>
    <% for i in 0 ... @article.size %>
      <tr>
        <th scope="row"><a href="http://finance.naver.com<%= article[i][:url]%>" style="color:#002560;"><%= article[i][:title]%></a>
        <span><%= article[i][:press]%> <%= article[i][:bar] %> <%= article[i][:wdate]%></span></th>
    </tr>
    <% end %>
  <%end%>
</table>